            /* google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Mulish:wght@400;500;600;700;800;900&display=swap');

                /* font family */
                /* {font-family: 'Inter', sans-serif;
                font-family: 'Mulish', sans-serif;} */


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}                
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.site-title{
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    margin: 0px 5px;
}
.logo-color{
    color: #FF5400;
    font-size: 2.2rem;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav > ul li a{
    color: #424247;
    font-size: 1.15rem;
    font-weight: 600;
}
nav ul li:hover a{
    color: #FF5400;
    font-weight: 600;
}
.bar{
    display: none;
}

            /* banner style */

.banner{
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}      
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding: 100px 0px 20px;
}
.banner-description{
    width: 600px;
    margin: 0 auto;
    color: #FFF;
    line-height: 160%;
    padding: 20px 0px 50px 0px;
}      

.selection-area{
    width: 750px;
    margin: 0 auto;
    padding: 15px 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
}
.banner-search,.banner-select,.banner-btn{
    width: 160px;
    align-items: center;
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: none;
    outline: none;
    margin-right: 10px;
}
.option{
    color: #13131880;
}
.banner-btn{
    background-color: #FF5400;
    color: #FFF;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding-left: 16px 30px;
}
.banner-btn img{
    width: 13px;
    height: 13px;
    margin-left: 25px;
}

            /* popular-tour-section */

.popular-tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
} 
.popular-tour-conent{
    width: 570px;
}           
.popular-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.description-1st,.description-2nd,.popular-tour-conent ul{
    color: #131318B2;
    line-height: 160%;
    margin-top: 20px;
}
.popular-tour-conent ul li{
    width: 500px;
    list-style-type: disc;
    margin-left: 30px;
    margin-top: 10px;
}
.popular-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}

            /* destination style */

.destination-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}            
.destination-description{
    width: 600px;
    margin: 25px auto 40px;
    color: #131318B2;
    text-align: center;
    line-height: 160%;
}

.destination-place-container{
   /* display: grid;
   grid-template-columns: repeat(4, 1fr); */
}

.destination-place{
    /* background: url(Images/Rectangle\ 5.png); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* padding: 100px; */
    
    /* color: #FFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800; */
}
.place1{
    /* grid-column: span 2; */
}
.place2{
    /* grid-column: span 2; */
}
.place3{
    /* grid-column: span 1; */
}
.place4{
    /* grid-column: span 2; */
}
.place5{
    /* grid-column: span 1; */
}
.place6{
    /* grid-column: span 1.5; */
}
.place7{
    /* grid-column: span 3.5; */
}


                /* choose us style */


.choose{
    margin: 100px 0px;
}
.choose-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
.choose-description{
    width: 600px;
    margin: 20px auto;
    text-align: center;
    color: #131318B2;
    line-height: 160%;
}    

.choose-card-1st{
    display: flex;
    gap: 30px;
    margin: 40px 0px 20px 0px;
}
.choode-card-2nd{
    width: 565px;
    margin: 0 auto;
}
.single-card{
    padding: 32px;
    width: 500px;
    border-radius: 16px;
}
.choose-card1{
    background-color: #FBB56333;
}
.choose-card2{
    background-color: #29CEF633;
}
.choose-card3{
    background-color: #E9444433;
}
.card-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 30px 0px 10px 0px;
}
.card-description{
    width: 450px;
    color: #5A5A5D;
    line-height: 160%;
}

            /* newsletter style */

.news{
    display: flex;
    gap: 30px;
}      
.form{
    
    height: 340px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}      
.form-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.form-description{
    width: 300px;
    margin: 20px 0px 25px 0px;
    color: #5A5A5D;
    line-height: 160%;
}
.form-input{
    width: 350px;
    color: #1313180D;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 20px;
    outline: none;
    border: none;
    margin: 25px 0px;
    display: block;
}
.subscribe{
    width: 390px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 10px 20px;
}

.save{
    width: 300px;
    position: relative;
    top: -155px;
    left: 335px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    padding: 15px;
}
.description{
    color: #FFF;
    font-size: 1.5rem;
}
.title{
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
}







        /* footer style */



        footer{
            background: rgba(19, 19, 24, 0.05);
            padding: 100px;
        }
.footer-container{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.footer-logo{
    width: 300px;
    margin: 0 auto;
}
.footer-description{
    color: #5A5A5D;
    text-align: center;
    line-height: 160%;
    margin: 15px 0px 20px 0px;
}
.icon-wrapper img{
    width: 24px;
    height: 24px;
    margin: 15px;
}        
.copy{
    color: #131318;
    margin-top: 50px;
}














        /* responsove design code */

    @media screen and (max-width: 600px) {
        body,
        .footer-container{
            width: 100%;
            padding: 10px;
        }
        .logo{
            font-size: 1.25rem;
        }
        nav > ul{
            display: none;
        }
        .bar{
            display: block;
            padding-right: 20px;
            width: 40px;
            height: 40px;
        }
        .banner{
            width: 90%;
            height: 100%; 
            padding: 20px;
            background-position-x: center;
        }
        .banner-title{
            font-size: 1.8rem;
            padding: 0;
            font-weight: 600;
        }
        .banner-description
        {
            width: 100%;
            padding: 20px 0px 30px 0px;
            text-align: center;
        }
        .selection-area{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
        }
        .banner-search,.banner-select,.banner-btn{
            width: 90%;
            margin: 0 auto;
        }



        .popular-title{
            font-size: 2rem;
        }
        .popular-tours,
        .news
        {
            flex-direction: column;
            padding: 15px;
            margin: 20px 0px;
        }
        .popular-tour-conent,
        .popular-img
        {
            width: 100%;
            margin: 0 auto;
        }
        
        .popular-tour-conent ul li{
            width: 80%;
        }
        .popular-img{
            margin-top: 20px;
            padding: 15px;
        }


        .destination-description,        
        .destination-place-container img{
            width: 100%;
            margin: 0 auto;
        }

        /* .choose{
            width: 100%;
            margin: 0 auto;
            padding: 10px;
        } */
        .single-card,
        .card-description,
        .choode-card-2nd,
        .subscribe,
        .descount img
        {
            width: 100%;
        }
        .choose-description{
            width: 100%;
        }
        .choose-card-1st{
            flex-direction: column;
        }
        .form{
            padding: 20px;
        }
        .form-input{
            width: 90%;
        }
        .save{
            width: 50%;
            top: -110px;
            left: 135px;
        }
        .description{
            font-size: 0.9rem;
        }
        .title{
            font-size: 1.24rem;
        }


        footer{
            padding: 30px 10px;

        }
    }